.GradesTable {
    background-color: #FFFFFF;
    width: 100%;
    text-align: left;
    border-collapse: collapse !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.TableRow__cell {
    border: 1px solid lightgray;
    border-bottom: none;
}

.GradesTable__Subjects {
    width: 20%;
}

.GradesTable__Mean {
    width: 8%
}

.GradesTable__Finalgrade {
    width: 8%
}