/*.ActionButtons_create > a {
    background-color: #5599cc;
    margin: 1ch;
    padding: 1ch;
    text-decoration: none;
    color: #eeeeee;
    font-size: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-weight: bold;
}

.ActionButtons_create > a:hover {
    background-color: #3366aa;
}

.ActionButtons_genericButton > button {
    border: none;
    cursor: pointer;
    margin: 0.5ch 1ch;
    padding: 1ch;

    background-color: #5599cc;
    text-decoration: none;
    color: #eeeeee;
    font-size: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-weight: bold;
}

.ActionButtons_genericButton > button:hover {
    background-color: #3366aa;
}

.ActionButtons {
    margin-top: 1rem;
    margin-right: 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.TableExtraComponents {
    display: flex;
    justify-content: space-between;
}

.SearchWidget {
    box-sizing: border-box;

    margin-left: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.SearchWidget_field {
    border: 3px solid #5599cc;

    padding: 2%;
    border-radius: 5px;
    margin-right: 1ch;
}

.SearchWidget_submit {
    cursor: pointer;
    border: 3px solid #5599cc;
    border-radius: 5px;
    font-size: 25px;
    color: #3366aa;
    font-weight: bold;
    width: 3rem;
    height: 3rem;
}

.SearchWidget_submit:disabled {
    border: none;
    background-color: white;
    color: white;
}
*/
.StudentManagement__header {
    margin: 2% 0 0 5%;
}

.ButtonsGroup {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 5% 2% 5%;
}

.TableButtons {
    display: flex;
    max-height: 50px;
    bottom: 0;
}

.CreationButtons {
    display: flex;
    flex-direction: column;
}

.CreationButtons > * {
    margin-top: 5%;
}

.TableButtons > button {
    margin-right: 1%;
}

.SearchIcon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.SearchIcon:hover {
    color: rgb(63, 81, 181);
}

.StudentManagement__SearchField {
    min-width: 300px;
    display: flex;
    transform: translate(0, 10px);
}

.SearchIcon-wrapper {
    display: flex;
    align-items: center;
}