.LeftMenu > nav {
    min-height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.LeftMenu > nav > a {
    color: #000;
    text-decoration: none;
}

.LeftMenu > nav > a:hover {
    color: rgba(30, 58, 138);
}