.MultipleSelectField__label {
    color: #666;
    display: inline-block;
    margin: 5% 5% 0 0;
}


/*
.MultipleSelectField {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}



*/