.TimetableGeneration {
    width: 100%;
    border-collapse: collapse !important;
}

.TimetableGeneration__header {
    width: 25%;
    color: gray;
}

.TimetableGeneration__cell {
    border-radius: 0;
    padding: 1%;
    border: 1px solid lightgray;
}

.TimetableGeneration__cell-subject {
    border-bottom: 2px dotted lightskyblue;
}

.TimetableGeneration__cell-subject:last-child {
    border-bottom: none;
}
