.TimetableGeneration {
    width: 100%;
    border-collapse: collapse !important;
}

.TimetableGeneration__header {
    width: 40%;
    color: gray;
}

.TimetableGeneration__header-two {
    color: gray;
}

.TimetableGeneration__cell {
    border-radius: 0;
    padding: 1%;
    border: 1px solid lightgray;
}

.TimetableGeneration__cell-subject {
    border-bottom: 2px dotted lightskyblue;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.TimetableGeneration__cell-subject:last-child {
    border-bottom: none;
}
