.FiltersForm {

}

.FiltersForm_fields {
    display: flex;
}
/*
.FiltersForm_submit {
    border: none;
    cursor: pointer;
    float: right;
    margin: 0.5ch 2ch;
    background-color: #5599cc;
    padding: 1ch;
    text-decoration: none;
    color: #eeeeee;
    font-size: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-weight: bold;
}*/

.FiltersForm__button-wrapper {
    float: right;
    margin-right: 4%;
    width: 100px;
}

.FiltersForm__button-wrapper button {
    width: 100%;
}

.FiltersForm_submit:disabled {
    cursor: none;
    background-color: #aaaaaa;
}

.FiltersForm_submit:hover {
    background-color: #3366aa;
}

.TextField_cell {
    width: 50%;
    padding: 0.7ch 1ch;
}

.TextField_row {
    display: flex;
    justify-content: left;
    width: 40rem;
}

.ClearButton {
    border: 1px solid #5599cc;
    border-radius: 3px;
    transform: translate(-35px, 10px);
    cursor: pointer;
    width: 17px;
    height: 17px;
    line-height: 12px;
    padding: 0;
    background-color: white;
    text-decoration: none;
    color: #5599cc;
    font-size: 11px;
    box-sizing: border-box;
}

.ClearButton:hover {
    border: 2px solid #3366aa;
    color: #3366aa;
    font-weight: bold;
}

.ClearButton:disabled {
    color: white;
    cursor: none;
    border: none;
}

.ClearButton_mock {
    width: 17px;
    height: 17px;
}