.Details__student-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 145px);
}

.Details__parent-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    column-gap: 33px;
    row-gap: 10px;
}

.Details__label {
    color: #757575;
    font-size: 1.2rem;
}

.Details__label-sm {
    color: #757575;
    font-size: 80%;
}


.Details__data {
    padding: 3% 0;
    cursor: pointer;
    background-color: #F5F5F5;
}

.Details__data-not-modifiable {
    padding: 3% 0;
    background-color: #FFF;
}

.Details__delete-wrapper {
    width: 100%;
    margin: 3% 5% 0 0;
}

.Details__teacher-field {
    width: 100%;
    min-height: 140px;
}

.Details__subject {
    margin-bottom: 1%;
}

.Details__delete {
    width: 8%;
    height: 8%;
    float: right;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: color .4s, transform 0.4s ease-in-out;
}

.Details__delete:hover {
    color: red;
    -webkit-transform: scale(1.2);
}

