.Details__student-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
}

.Details__parent-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    column-gap: 33px;
    row-gap: 10px;
}

.Details__label {
    color: #757575;
    font-size: 1.2rem;
    height: 30px;
}

.Details__label-sm {
    color: #757575;
    font-size: 80%;
}


.Details__data {
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    cursor: pointer;
    background-color: #F5F5F5;
    border-radius: 3px;
    padding: 2px;
    word-wrap: break-word;
    word-break: break-all;
}

.Details__data-not-modifiable {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 3px;
    padding: 2px;
    word-wrap: break-word;
    word-break: break-all;
}

.Details__delete-wrapper {
    width: 100%;
    margin: 3% 5% 0 0;
}

.Details__teacher-field {
    width: 100%;
    min-height: 140px;
}

.Details__subject {
    margin-bottom: 1%;
}

.Details__delete {
    width: 8%;
    height: 8%;
    float: right;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: color .4s, transform 0.4s ease-in-out;
}

.Details__delete:hover {
    color: red;
    -webkit-transform: scale(1.2);
}

