.Details__student-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 145px);
}

.Details__parent-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    column-gap: 33px;
    row-gap: 10px;
}

.Details__label {
    color: gray;
    font-size: 1.2rem;
}

.Details__data {
    padding: 3% 0;
    cursor: pointer;
    background-color: #F5F5F5;
}