.DeleteDialogBox {

    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    text-align: center;
}

.DeleteDialogBox__options {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-height: 50px;
}

.DeleteDialogBox__options > * {
    margin-right: 5%;
    min-width: 80px;
}