.UserManagementCreate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.UserManagmentCreate__row {
    display: flex;
}

.UserManagmentCreate__col {
    margin: 2%;
}