.GradesView th, td {
    border-collapse: collapse !important;
    border-radius: 10px;
    padding: 1%;
}

.GradesView td:first-child {
    border-left: none;
}

.GradesView td:last-child {
    border-right: none;
}

.GradesView__selects {
    justify-content: space-between;
    top: 28%;
    min-width: 300px;
    margin-bottom: 3%;
}