.GradesView {

}

table {
    border-collapse: collapse;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid lightgray;
    padding: 1%;
}

