.GradesView {

}

table {
    border-collapse: collapse !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

th, td {
    border-collapse: collapse !important;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 1%;
}

